In [2]:
class student:
  def __init__(self, id, name, group):
    self.id=id
    self.name=name
    self.group=group
  def __repr__(self):
    return f"the id is {self.id} \n the name is {self.name} \n the group is {self.group}"

In [3]:
class node:
  def __init__(self,data):
    self.prev=None
    self.next=None
    self.data=data

  def __repr__(self):
    return str(self.data)

In [13]:
from types import new_class
from pickle import NONE
class single_linked:
  def __init__(self):
    self.head=None
    self.tail=None
    self.size=0


  def display(self):
    current=self.head
    while(current != None):
      print(current.data)
      current=current.next


class queue:
  def __init__(self,linked):
    self.linked=linked
    self.linked.head=None
    self.linked.tail=None


  def enqueue(self,new_node):
    new=node(new_node)
    if (self.linked.head==None):
      self.linked.head=new
      self.linked.tail=new
      new.next=None

    else:
      self.linked.tail.next=new
      self.linked.tail=new

  def dequeue(self):
    if(self.linked.tail==None):
      return 0

    else:
      if(self.linked.head !=None):
        nd=self.linked.head
        self.linked.head=self.linked.head.next

      return nd

In [14]:
s1=student(1,"dina",1)
s2=student(2,"hager",1)
s3=student(3,"mohand",1)

s4=student(4,"mohamed",2)
s5=student(5,"abdelrhman",3)

In [15]:
lin=single_linked()
q=queue(lin)
q.enqueue(s1)
q.enqueue(s2)
q.enqueue(s3)
q.enqueue(s4)
q.enqueue(s5)

In [16]:
lin.display()

the id is 1
 the name is dina
 the group is 1
the id is 2
 the name is hager
 the group is 1
the id is 3
 the name is mohand
 the group is 1
the id is 4
 the name is mohamed
 the group is 2
the id is 5
 the name is abdelrhman
 the group is 3

In [17]:
q.dequeue()

the id is 1
 the name is dina
 the group is 1

In [18]:
q.dequeue()

the id is 2
 the name is hager
 the group is 1

In [19]:
lin.display()

the id is 3
 the name is mohand
 the group is 1
the id is 4
 the name is mohamed
 the group is 2
the id is 5
 the name is abdelrhman
 the group is 3