In [1]:
class student:
  def __init__(self, id, name, group):
    self.id=id
    self.name=name
    self.group=group
  def __repr__(self):
    return f"the id is {self.id} \n the name is {self.name} \n the group is {self.group}"

In [2]:
class node:
  def __init__(self,data):
    self.prev=None
    self.next=None
    self.data=data

  def __repr__(self):
    return str(self.data)

In [68]:
from types import new_class
from pickle import NONE
class single_linked:
  def __init__(self):
    self.tail=None
    self.size=0


  def display(self):
    current=self.tail
    while(current != None):
      print(current.data)
      current=current.prev


class stack:
  def __init__(self,linked):
    self.linked=linked
    self.linked.tail=None


  def push(self,new_node):
    new=node(new_node)
    if (self.linked.tail==None):
      self.linked.tail=new
      new.prev=None

    else:
      new.prev=self.linked.tail
      self.linked.tail=new

  def pop(self):
    if(self.linked.tail==None):
      return 0

    else:
      if(self.linked.tail !=None):
        nd=self.linked.tail
        self.linked.tail=self.linked.tail.prev

      return nd

In [69]:
s1=student(1,"dina",1)
s2=student(2,"hager",1)
s3=student(3,"mohand",1)

s4=student(4,"mohamed",2)
s5=student(5,"abdelrhman",3)

In [70]:
lin=single_linked()
st=stack(lin)
st.push(s1)
st.push(s2)
st.push(s3)
st.push(s4)
st.push(s5)

In [71]:
lin.display()

the id is 5
 the name is abdelrhman
 the group is 3
the id is 4
 the name is mohamed
 the group is 2
the id is 3
 the name is mohand
 the group is 1
the id is 2
 the name is hager
 the group is 1
the id is 1
 the name is dina
 the group is 1

In [72]:
st.pop()

the id is 5
 the name is abdelrhman
 the group is 3

In [73]:
lin.display()

the id is 4
 the name is mohamed
 the group is 2
the id is 3
 the name is mohand
 the group is 1
the id is 2
 the name is hager
 the group is 1
the id is 1
 the name is dina
 the group is 1